body {
    background-color:black;
}

h1 {
    color: whitesmoke;
    border: whitesmoke;
    border-style: double;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    height: 75px;
    align-content: space-around;
    font-family: monospace;
    font-size: 65px;
}

div p {
    color:whitesmoke;
    border: ghostwhite;
    border-style: ridge;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: monospace;
    font-size: 35px;
    height: 450px;
}

#title {
    color: whitesmoke;
    font-size: 55px;
}

article {

}

